#result-page {
    height: 70vh;
    background-color: #FFE01B;
}

#result-page header {
    display: flex;
    justify-content: flex-end;
}

#result-page .dados {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 500px;
    width: 890px;
    height: 550px;
    margin: 7px;
    padding: 7px;
    border: 2px solid #000000;
    border-radius: 4px;
}

#result-page .dados .entrada span {
    position: relative;
    margin: 220px;
    left: 24px;
}

#result-page .dados .nuvem span {
    position: relative;
    margin: 130px;
    left: 24px;
}

#result-page .dados .tokens span {
    position: relative;
    left: 24px;
}

#result-page .cloud {
    position: relative;
    height: 0px;
    width: 0px;
    left: 600px;
    bottom: 480px;
}

#result-page .texto {
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
}

#result-page .texto-gerado {
    display: flex;
    justify-content: center;
    width: 1910px;
    height: 266px;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 18px;
    margin: 5px;
    padding-top: 10px;
    padding-right: 12px;
    padding-left: 12px;
}