@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


#page-landing {
    height: 70vh;
    background-color: #FFE01B;
}

#page-landing header button {
    width: 65px;
    align-items: center;
    padding: 10px;
    background: #FFFFFF;
    color: #000000;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}

#page-landing header .desenvolvedor {
    position: relative;
    left: 709px;
}

#page-landing main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
}

#page-landing main h1 {
    display: flex;
    justify-content: center;
    font-family: 'Abel'; font-size: 70px; font-style: normal; font-weight: normal; line-height: 100px; letter-spacing: 0.42em;
    color: #000000;
}

#page-landing main span {
    display: flex;
    justify-content: center;
}

#page-landing main img {
    position: relative;
    padding-top: 70px;
    left: 800px;
}

#page-landing footer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 6px;
}

#page-landing footer a {
    text-decoration: none;
    color: #000000;
    padding-left: 3px;
}

#page-landing header a:hover {
    background-color: #FFFFFF;
    transition: 0.2s;
    cursor: pointer;
}

#page-landing header button:hover {
    background-color: #FFE01B;
    transition: 0.2s;
    cursor: pointer;
}