#flyoutMenu {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 0;
    border-radius: 4px;
    background-color: #FFF;
    border: 2px solid #000000;
    overflow-x: hidden;
    transition: 0.6s;
}

#flyoutMenu .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    font-size: 19px;
    font-weight: bold;
}

#flyoutMenu .search input[type="text"] {
    display: block;
    margin-top: 20px;
    text-align: center;
    border-radius: 21px;
    border: 2px solid #000000;
    width: 38vw;
    height: 5vh;
    padding-left: 9vw;
    padding-right: 9vw;
}

#flyoutMenu .checkbox {
    display: flex;
    padding: 15px;

}

#flyoutMenu .checkbox .text {
    padding-right: 27px;
    
}

#flyoutMenu .checkbox input[type="checkbox"] {
    position: relative;
    opacity: 0;
    left: -1px;
    top: -1px;
    cursor: pointer;
}

#flyoutMenu .checkbox .custom-checkbox {
    position: relative;
    left: -3px;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #000000;
}

#flyoutMenu .checkbox .custom-checkbox input:checked ~ .checked {
    display: flex;
    position: relative;
    top: -21px;
    height: 14px;
    width: 14px;
    border-radius: 20px;
    background-color: #000000;
    border: 2px solid #FFF;
    pointer-events: none;
    
}

#flyoutMenu .checkbox button {
    position: relative;
    left: 300px;
    width: 120px;
    height: 30px;
    border-radius: 4px;
    background-color: #FFE01B;
    color: #000000;
    border: 2px solid #000000;
}

#flyoutMenu .checkbox button:hover {
    background-color: #f5d718;
    transition: 0.2s;
    cursor: pointer;
}

#flyoutMenu img {
    padding-left: 2vw;
}