#cadeia-markov {
    height: 70vh;
    background-color: #FFE01B;
}

#cadeia-markov header {
    display: flex;
    justify-content: flex-end;
}

#cadeia-markov main {
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;
}

#cadeia-markov main img {
    position: relative;
    width: 510px;
    height: 510px;
    bottom: -50px;
}

#cadeia-markov main span {
    display: flex;
    text-align: justify;
    font-size: 21px;
}