@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 7px;
}


header a {
    width: 200px;
    height: 50px;
    padding: 13px;
    text-align: center;
    background-color: #FFE01B;
    color: #000000;
    text-decoration: none;

    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}

header a:hover {
    background-color: #FFFFFF;
    transition: 0.2s;
    cursor: pointer;
}