.checkbox {
    display: flex;
    padding: 9px;

}

.checkbox .text {
    display: flex;
    padding-right: 10px;
    
}

.checkbox input[type="checkbox"] {
    position: relative;
    opacity: 0;
    left: -1px;
    top: 2px;
    cursor: pointer;
}

.checkbox .custom-checkbox {
    position: relative;
    left: -3px;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #000000;
}

.checkbox .custom-checkbox input:checked ~ .checked {
    display: flex;
    position: relative;
    top: -21px;
    height: 14px;
    width: 14px;
    border-radius: 20px;
    background-color: #000000;
    border: 2px solid #FFF;
    pointer-events: none;
    
}

form button {
    position: relative;
    left: 610px;
    top: -40px;
    width: 120px;
    height: 30px;
    border-radius: 4px;
    background-color: #FFE01B;
    color: #000000;
    border: 2px solid #000000;
}

form button:hover {
    background-color: #f5d718;
    transition: 0.2s;
    cursor: pointer;
}

img {
    padding-left: 2vw;
}